site_name: DATAIDEA
site_url: https://science.dataidea.org/
site_author: Juma Shafara
site_description: DATAIDEA SCIENCE - Learn Programming for Data Science

nav:
  - Home: https://www.dataidea.org/
  - All Courses: index.md
  - Python:
    - Overview: Python/11_python_tutorial.ipynb
    - Basics:
      - Outline: Python/Basics/00_python_programming_outline.ipynb
      - Introduction: Python/Basics/01_basics.ipynb
      - Variables: Python/Basics/02_variables.ipynb
      - Numbers: Python/Basics/03_numbers.ipynb
      - Strings: Python/Basics/03_strings.ipynb
      - Operators: Python/Basics/04_operators.ipynb
      - Containers: Python/Basics/05_containers.ipynb
      - Flow Control: Python/Basics/06_flow_control.ipynb
      - Advanced: Python/Basics/07_advanced.ipynb
      - Modules: Python/Basics/08_modules.ipynb
      - File Handling: Python/Basics/09_file_handling.ipynb
      - End of Course Exercise: Python/Basics/13_end_of_course_exercise.ipynb
    - Built-in:
      - Filter Function: Python/Python Builtin/filter_function.md
      - Map Function: Python/Python Builtin/map_function.md
      - Reduce Function: Python/Python Builtin/reduce_function.md
    - Libraries:
      - NumPy Crash Course: Python/Libraries/12_numpy.ipynb
      - Pandas Crash Course: Python/Libraries/13_pandas.ipynb
      - Matplotlib Crash Course: Data Collection and Visulization/31_matplotlib_refined.ipynb
    - Exercises:
      - Basics: Python/Exercises/02_basics_exercise.ipynb
      - Objective Quiz: Python/Exercises/11_python_objective_quiz.ipynb
      - True or False: Python/Exercises/12_true_or_false_quiz.ipynb
      - End of Course: Python/Exercises/13_end_of_course_exercise.ipynb
  - Data Collection and Visualization:
      - NumPy Crash Course: Python/Libraries/12_numpy.ipynb
      - Pandas Crash Course: Python/Libraries/13_pandas.ipynb
      - Weather Data: Data Collection and Visulization/21_weather_data.ipynb
      - Matplotlib: Data Collection and Visulization/31_matplotlib_refined.ipynb
      - Data Exploration Exercise: Data Collection and Visulization/32_data_exploration_and_cleaning_exercise.ipynb
      - Handling Missing Data: Data Collection and Visulization/76_handling_missing_data.ipynb
  - Machine Learning:
      - Overview: Machine Learning/41_overview_of_machine_learning.ipynb
      - Training Models: Machine Learning/42_training_models_meaning.ipynb
      - Unsupervised Learning:
          - Introduction: Machine Learning/43_sklearn-unsupervised-learning.ipynb
          - Advanced: Machine Learning/43_sklearn-unsupervised-learning2.ipynb
      - Feature Engineering:
          - Feature Selection: Machine Learning/71_feature_selection.ipynb
          - Why Scaling: Machine Learning/72_why_scaling.ipynb
          - Feature Scaling (FPL): Machine Learning/72_why_scaling_fpl.ipynb
          - Normalization and Standardization: Machine Learning/73_normalization_and_standardization.ipynb
      - Handling Missing Data: Machine Learning/76_handling_missing_data.ipynb
      - Model Evaluation:
          - Classification Metrics: Machine Learning/80_classification_metrics.ipynb
          - Regression Metrics: Machine Learning/81_regression_metrics.ipynb
      - Advanced Techniques:
          - Pipelines: Machine Learning/82_sklearn_pipeline.ipynb
          - Hyperparameter Tuning: Machine Learning/83_GridSearchCV.ipynb
      - Exercises:
          - Classification Metrics: Machine Learning/classification_metrics_quiz.ipynb
          - Missing Data: Machine Learning/handling_missing_data_quiz.ipynb
          - Pipeline: Machine Learning/pipelining_quiz.ipynb
  - Deep Learning:
      - Introduction: Deep Learning/outline.md
      - Tensors & Datasets:
          - 1D Tensors: Deep Learning/Week1-Tensors-Datasets/1.1_1Dtensors_v2.ipynb
          - 2D Tensors: Deep Learning/Week1-Tensors-Datasets/1.1_2 Two-Dimensional Tensors_v2.ipynb
          - Derivatives & Graphs: Deep Learning/Week1-Tensors-Datasets/1.2derivativesandGraphsinPytorch_v2.ipynb
          - Simple Datasets: Deep Learning/Week1-Tensors-Datasets/1.3.1_simple_data_set_v2.ipynb
          - Pre-Built Datasets: Deep Learning/Week1-Tensors-Datasets/1.3.3_pre-Built Datasets_and_transforms_v2.ipynb
          - Exercise: Deep Learning/Week1-Tensors-Datasets/tensors_and_datasets_exercise.ipynb
      - Linear Regression:
          - 1D Regression: Deep Learning/Week2-Linear-Regression/2.1Prediction1Dregression_v3.ipynb
          - One Parameter: Deep Learning/Week2-Linear-Regression/2.2_linear_regression_one_parameter_v3.ipynb
          - Slope & Bias: Deep Learning/Week2-Linear-Regression/2.3_training_slope_and_bias_v3.ipynb
          - Exercise: Deep Learning/Week2-Linear-Regression/linear_regression_exercise.ipynb
      - LR in PyTorch:
          - SGD: Deep Learning/Week3-LR-PyTorch/3.1_stochastic_gradient_descent_v3.ipynb
          - Mini-Batch GD: Deep Learning/Week3-LR-PyTorch/3.2_mini-batch_gradient_descent_v3.ipynb
          - PyTorch Way: Deep Learning/Week3-LR-PyTorch/3.3_PyTorchway_v3.ipynb
          - Training & Validation: Deep Learning/Week3-LR-PyTorch/3.6_training_and_validation_v3.ipynb
          - Exercise: Deep Learning/Week3-LR-PyTorch/linear_regression_in_pytorch_exercise.ipynb
      - Multiple Input LR:
          - Multiple LR Prediction: Deep Learning/Week4-Multiple-Input-LR/4.1.multiple_linear_regression_prediction_v2.ipynb
          - Multiple LR Training: Deep Learning/Week4-Multiple-Input-LR/4.2.multiple_linear_regression_training_v2.ipynb
          - Multi-Target LR: Deep Learning/Week4-Multiple-Input-LR/4.3.multi-target_linear_regression.ipynb
          - Training Multiple Output: Deep Learning/Week4-Multiple-Input-LR/4.4.training_multiple_output_linear_regression.ipynb
          - Exercise: Deep Learning/Week4-Multiple-Input-LR/muliple_input_lr_exercise.ipynb
      - Logistic Regression:
          - Prediction: Deep Learning/Week5-Logistic-Regression/5.1logistic_regression_prediction_v2.ipynb
          - MSE Issues: Deep Learning/Week5-Logistic-Regression/5.2.2bad_inshilization_logistic_regression_with_mean_square_error_v2.ipynb
          - Cross Entropy: Deep Learning/Week5-Logistic-Regression/5.3_cross_entropy_logistic_regression_v2.ipynb
          - Softmax: Deep Learning/Week5-Logistic-Regression/5.4softmax_in_one_dimension_v2.ipynb
          - Exercise: Deep Learning/Week5-Logistic-Regression/logistic_regression_exercise.ipynb
      - Practice:
          - Custom Datasets: Deep Learning/Week6-Practice/6.1_custom_datasets.ipynb
          - DataLoaders: Deep Learning/Week6-Practice/6.2_dataloaders.ipynb
          - Transforms: Deep Learning/Week6-Practice/6.3_transforms.ipynb
      - Shallow Networks:
          - Simple Hidden Layer: Deep Learning/Week7-Shallow-Networks/7.1_simple1hiddenlayer.ipynb
          - Multiple Neurons: Deep Learning/Week7-Shallow-Networks/7.2multiple_neurons.ipynb
          - XOR Problem: Deep Learning/Week7-Shallow-Networks/7.3xor_v2.ipynb
          - MNIST: Deep Learning/Week7-Shallow-Networks/7.4one_layer_neural_network_MNIST.ipynb
          - Activation Functions: Deep Learning/Week7-Shallow-Networks/7.5.1activationfuction_v2.ipynb
          - MNIST One Layer: Deep Learning/Week7-Shallow-Networks/7.5.2mist1layer_v2.ipynb
      - Deep Networks:
          - MNIST Two Layer: Deep Learning/Week8-Deep-Networks/8.1.1mist2layer_v2.ipynb
          - Multiclass Spiral: Deep Learning/Week8-Deep-Networks/8.1.2mulitclassspiralrulu_v2.ipynb
          - Dropout Prediction: Deep Learning/Week8-Deep-Networks/8.2.1dropoutPredictin_v2.ipynb
          - Dropout Regression: Deep Learning/Week8-Deep-Networks/8.2.2dropoutRegression_v2.ipynb
          - Initialization: Deep Learning/Week8-Deep-Networks/8.3.1.initializationsame.ipynb
          - Xavier Init: Deep Learning/Week8-Deep-Networks/8.3.2Xaviermist1layer_v2.ipynb
          - He Init: Deep Learning/Week8-Deep-Networks/8.3.3.He_Initialization_v2.ipynb
          - Momentum: Deep Learning/Week8-Deep-Networks/8.4.1_MomentumwithPolynomialFunctions_v2.ipynb
          - NN with Momentum: Deep Learning/Week8-Deep-Networks/8.4.2_NeuralNetworkswithMomentum_v2.ipynb
          - Batch Normalization: Deep Learning/Week8-Deep-Networks/8.5.1BachNorm_v2.ipynb
      - CNNs:
          - Convolution Basics: Deep Learning/Week9-CNNs/9.1What_is_Convolution.ipynb
          - Activation & Pooling: Deep Learning/Week9-CNNs/9.2Activation_max_pooling.ipynb
          - Multiple Channels: Deep Learning/Week9-CNNs/9.3Multiple_Channel_Convolution.ipynb
          - Simple CNN: Deep Learning/Week9-CNNs/9.4.1ConvolutionalNeralNetworkSimple example.ipynb
          - CNN Small Image: Deep Learning/Week9-CNNs/9.4.2CNN_Small_Image.ipynb
          - CNN Batch Processing: Deep Learning/Week9-CNNs/9.4.3CNN_Small_Image_batch.ipynb
  - Time Series:
      - Introduction: Time Series/90_introduction.ipynb
      - Analysis: Time Series/91_analysis.ipynb
      - Forecasting: Time Series/92_forecasting.ipynb
      - Python Example: Time Series/93_python_example.ipynb
  - Maths & Statistics:
      - Overview: Maths & Statistics/50_maths_and_stats_for_ds.md
      - Eigen Values and Vectors: Maths & Statistics/1_eigen_values_vectors.md
      - Descriptive Statistics: Maths & Statistics/51_descriptive_statistics.md
      - Inferential Statistics: Maths & Statistics/52_inferencial_statistics.md
      - Statistical Models: Maths & Statistics/53_implementing_statistical_models.md
      - Hypothesis Testing: Maths & Statistics/hypothesis_testing.md
  - Extras:
      - Customer Analysis: Extras/customer_analysis.ipynb
      - How KNN Works: Extras/how_KNN_works.ipynb
      - Handling Imbalanced Data: Extras/handling_imbalanced_data.ipynb
      - Classification Metrics: Extras/classification_metrics.ipynb
  - About:
      - License: LICENSE
      - ReadMe: README.md



markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
        alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

theme:
  favicon: assets/logo.png
  # logo: assets/logo.png  # Removed to show text logo
  name: material
  # customization
  custom_dir: overrides

  # features
  features:
    # header
    - header.autohide

    # navigation
    - navigation.footer
    - navigation.top
    - navigation.tabs
    - navigation.expand
    - navigation.sections
    # - navigation.indexes  # Disabled to show subsections in sidebar
    - content.code.copy

    # announcements
    - announce.dismiss
    
    # content
    - content.tabs.link
    - content.action.edit
    - content.action.view

  # fonts
  font:
    text: DM Sans
    code: DM Mono

  # palette - forced dark mode (always)
  palette:
    - scheme: slate
      primary: grey
      accent: grey

# extra
extra_css:
  - styles/custom.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  generator: false
  homepage: https://www.dataidea.org/
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/dataidea
      name: DATAIDEA on Twitter
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/dataidea
      name: DATAIDEA YouTube Channel
    - icon: fontawesome/solid/envelope
      link: mailto:dataideaorg@gmail.com
      name: Contact us by email
  analytics:
    provider: google
    property: G-ZD84FCME05

plugins:
  - search
  - mknotebooks:
      enable_default_jupyter_cell_styling: true
      enable_default_pandas_dataframe_styling: true
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true
      
