mkdocs==1.6.1
mkdocs-material==9.6.9
mkdocs-material-extensions==1.3.1
mkdocs-jupyter==0.25.1
mkdocs-git-revision-date-localized-plugin==1.4.5
mkdocs-minify-plugin==0.8.0
Markdown==3.7
Pygments==2.19.1
pymdown-extensions==10.14.3
nbconvert==7.16.6
nbformat==5.10.4
jupytext==1.18.1
ipykernel==6.31.0
beautifulsoup4==4.14.2
